
* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .header-first {
    display: none;
  }

  .header-second {
    display: none;
  }

  .firstFace {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    background-image: url(images/backgroundwelcom.webp);
    background-repeat: space;
    background-size: cover;
    background-position: 50%;
    opacity: 0.1;
  }

  .toggle {
    position: relative;
    display: block;
    font-size: 1.4rem;
    margin-right: 20px;
    z-index: 994;
    padding-top: 30px;
  }

  /* .menu-mobile {
 color: hsl(222, 11%, 17%);
 margin-top: 10px;
 margin-left: 30px;
} */
  .fermer {
    display: none;
  }

  .ouvrir {
    position: absolute;
    color: hsl(222, 11%, 17%);
    top: 10px;
    left: 30px;
  }

  .open .ouvrir {
    display: none;
  }

  .open .fermer {
    position: absolute;
    display: block;
    color: hsl(222, 11%, 17%);
    top: 10px;
    left: 30px;
  }

  .menu {
    display: none;
  }

  .open .menu {
    display: block;
    flex-direction: column;
    position: fixed;
    top: 80px;
    left: 30px;
    z-index: 9999;
  }

  .menu li {
    list-style: none;
    transition: 1s;
  }

  .menu li:hover {
    color: coral;
  }

  .menu li a {
    font-size: x-large;
    text-decoration: none;
    color: rgb(10, 9, 9);
  }

  .open .firstFace {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    background-image: url(images/backgroundwelcom.webp);
    background-repeat: space;
    background-size: cover;
    background-position: 50%;
    opacity: 1;
    z-index: 99;
  }

  header {
    display: flex;
  }

  .welcom {
    color: #272a31;
    position: relative;
    max-width: 768px;
    height: 100vh;
    margin-top: 30px;
    margin-left: 30px;
  }

  .welcom-h1 {
    max-width: 400px;
    color: hsl(6, 82%, 59%);
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-size: 20px;
    z-index: 99;
  }

  .welcom-p1 {
    max-width: 400px;
    height: auto;
    color: hsl(6, 82%, 59%);
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: bold;
  }

  .welcom-p2 {
    margin-top: 30px;
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 50px;
    color: hsl(222, 11%, 17%);
    font-family: 'Lato', sans-serif;
    border: solid 5px white;
    border-radius: 10px 10px 10px 10px;
  }

  .welcom-p3 {
    margin-bottom: 50px;
    color: hsl(222, 11%, 17%);
    font-family: 'Lato', sans-serif;
    font-size: 30px;
  }

  .welcom-p3 span {
    margin-bottom: 50px;
    color: hsl(222, 11%, 17%);
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: bold;
  }

  .welcom1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
  }

  .welcom11 {
    display: flex;
    justify-content: center;
    font-family: 'lato', sans-serif;
    font-size: 24px;
    font-weight: 200;
    font-weight: bolder;
  }

  .welcom12 {
    display: flex;
    position: relative;
    width: 60px;
    height: 2px;
    left: calc(50% - 70px / 2 - 0.5px);
    bottom: 8px;
    border-radius: 10px;
    background-color: hsl(6, 80%, 59%);
    margin-top: 10px;
    margin-bottom: 80px;
  }

  .welcom13 {
    display: flex;
    justify-content: center;
    font-family: 'lato', sans-serif;
    font-size: 18px;
    width: 80%;
    margin-left: 10%;
  }

  .welcom14 {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 30vh;
  }

  .welcom14img {
    width: 200px;
    height: 120px;
    margin-bottom: 10vh;
  }

  .dashlong {
    margin-top: -30px;
    height: 5px;
  }

  .welcom2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }

  .welcom21 {
    display: flex;
    justify-content: center;
    font-family: 'lato', sans-serif;
    font-size: 24px;
    font-weight: 200;
    font-weight: bolder;
  }

  .welcom22 {
    display: flex;
    position: relative;
    width: 60px;
    height: 2px;
    left: calc(50% - 70px / 2 - 0.5px);
    bottom: 8px;
    border-radius: 10px;
    background-color: hsl(6, 80%, 59%);
    margin-top: 10px;
    margin-bottom: 80px;
  }

  .welcom23 {
    display: flex;
    justify-content: center;
    font-family: 'lato', sans-serif;
    font-size: 18px;
    width: 80%;
    margin-left: 10%;
  }

  .welcom24 {
    display: grid;
    justify-self: center;
    font-family: 'lato', sans-serif;
  }

  .flexwelcom24 {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    grid-template-rows: 170px 170px;
    grid-template-columns: 200px;
    row-gap: 50px;
  }

  .footer2 {
    position: relative;
    display: flex;
    height: 25vh;
    width: 100%;
    background-color: #272a31;
    color: #d3d3d3;
    padding-top: 5vh;
  }

  .footer21 {
    font-size: 15px;
    font-weight: bolder;
    margin-left: 10%;
  }

  .footer22 {
    font-size: 15px;
    font-weight: bolder;
    margin-left: 10%;
  }
}

@media (min-width: 768px) {
  .firstFace {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(images/backgroundwelcom.webp);
    background-size: cover;
    background-position: 50%;
    opacity: 0.2;
  }

  /* .header-second {
    display: flex;
    position: relative;
    width: 100%;
    padding-top: 2vh;
    height: 8vh;
    background-color: white;
    justify-content: space-between;
  } */

  .logo {
    margin-left: 9%;
  }

  .header-second ul {
    display: flex;
  }

  .nav-headerfirst li a {
    text-decoration: none;
    color: white;
  }

  .nav-headerfirst li {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
  }

  .header-second ul li {
    list-style: none;
  }

  .header-second ul li a {
    text-decoration: none;
    color: #080000;
    padding-right: 20px;
  }

  .content-liCc {
    width: 120px;
    border: solid 3px red;
    margin-right: 50px;
    justify-self: center;
  }

  .toggle {
    display: none;
  }

  .menu {
    display: none;
  }

  .header-first {
    display: flex;
    justify-content: end;
    position: relative;
    width: 100%;
    height: 5vh;
    background-color: #272a31;
    padding-top: 10px;
  }

  .header-first .fa-twitter {
    color: #d3d3d3;
  }

  .header-first .fa-facebook {
    color: #d3d3d3;
  }

  .nav-headerfirst {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
  }

  .header-second {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: white;
    padding-top: 2vh;
  }

  .welcom {
    color: #272a31;
    position: relative;
    width: 80%;
    height: 100vh;
    margin-top: 30px;
    margin-left: 20%;
    z-index: 999;
    margin-bottom: 0;
  }

  .welcom-h1 {
    max-width: 500px;
    color: hsl(6, 82%, 59%);
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-size: 30px;
    margin-left: 20%;
  }

  .welcom-p1 {
    max-width: 700px;
    height: auto;
    color: hsl(6, 82%, 59%);
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-left: 20%;
  }

  .welcom-p2 {
    max-width: 400px;
    height: 25vh;
    margin-top: 30px;
    padding: 10px;
    margin-bottom: 50px;
    color: hsl(222, 11%, 17%);
    font-family: 'Lato', sans-serif;
    border: solid 5px white;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    font-size: 15px;
    margin-left: 20%;
    padding-top: 30px;
  }

  .welcom-p3 {
    margin-bottom: 50px;
    color: hsl(222, 11%, 17%);
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin-left: 20%;
  }

  .welcom1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    margin-top: -22vh;
  }

  .welcom11 {
    display: flex;
    justify-content: center;
    font-family: 'lato', sans-serif;
    font-size: 24px;
    font-weight: 200;
    font-weight: bolder;
  }

  .welcom12 {
    display: flex;
    position: relative;
    width: 60px;
    height: 2px;
    left: calc(50% - 70px / 2 - 0.5px);
    bottom: 8px;
    border-radius: 10px;
    background-color: hsl(6, 80%, 59%);
    margin-top: 10px;
    margin-bottom: 80px;
  }

  .welcom13 {
    display: flex;
    justify-content: center;
    font-family: 'lato', sans-serif;
    font-size: 18px;
    width: 80%;
    margin-left: 10%;
  }

  .welcom14 {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    justify-items: center;
  }

  .welcom14img {
    width: 300px;
    height: 200px;
    margin-bottom: 10vh;
  }

  .dashlong {
    height: 5px;
  }

  .welcom2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
  }

  .welcom21 {
    display: flex;
    justify-content: center;
    font-family: 'lato', sans-serif;
    font-size: 24px;
    font-weight: 200;
    font-weight: bolder;
  }

  .welcom22 {
    display: flex;
    position: relative;
    width: 60px;
    height: 2px;
    left: calc(50% - 70px / 2 - 0.5px);
    bottom: 8px;
    border-radius: 10px;
    background-color: hsl(6, 80%, 59%);
    margin-top: 10px;
    margin-bottom: 80px;
  }

  .welcom23 {
    display: flex;
    justify-content: center;
    font-family: 'lato', sans-serif;
    font-size: 18px;
    width: 80%;
    margin-left: 10%;
  }

  .welcom24 {
    border: solid #605f5f 2px;
  }

  .flexwelcom24 {
    display: grid;
    margin-top: 50px;
    justify-content: center;
    grid-template-columns: 250px 250px;
    column-gap: 100px;
  }

  .footer2 {
    display: grid;
    grid-template-columns: 300px 600px;
    column-gap: 20px;
    height: 25vh;
    width: 100%;
    padding-top: 5vh;
    background-color: #272a31;
    color: #d3d3d3;
    color: chocolate;
  }

  .footer21 {
    display: flex;
    font-size: 15px;
    font-weight: bolder;
    margin-left: 30%;
  }

  .footer22 {
    display: flex;
    font-size: small;
  }
}
